<h2>New campaign</h2>

<form action="/a">
	<table>
		<tr>
			<td>Campaign name:</td>
			<td><input type="text" id="name" name="name" value=""></td>
		</tr><tr>
			<td>Conversion type:</td>
			<td><select type="select" id="conversion_type" name="conversion_type">
		  		<option value="cpm">CPM</option>
		  		<option value="cpc">CPC</option>
		  		<option selected="selected" value="cpi">CPI</option>
			</select></td>
		</tr><tr>
			<td>Bid (US$)</td>
			<td><input type="number" id="bid" name="bid" min="0.1" max="100" step="0.01" value="1.00"></td>
		</tr><tr>
			<td>Country:</td>
			<td><select type="select" id="country" name="country">
			  	<option value="br">BR</option>
			  	<option value="us">US</option>
		  	</select></td>
		</tr><tr>
			<td>Device OS:</td>
			<td><input type="radio" name="os" value="android" checked="checked">Android
  			<input type="radio" name="os" value="ios">iOS</td>
		</tr><tr>
			<td></td>
			<td><input type="button" id="submit" value="Create Campaign"></td>
		</tr>
	</table>
</form>

<p id="msg"></p>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
$(document).ready(function(){
	$('#submit').click(function(){
		const url = 'http://localhost:3000/campaign/add-post/'
		const post_data = {
			name: $("#name").val(),
			conversion_type : $("#conversion_type").val(),
			bid : $("#bid").val(),
			country : $("#country").val(),
			os : $("input[name='os']:checked").val()
		}
		$.ajax({
			type : 'POST',
			contentType : 'application/json; charset=utf-8',
			url : url,
			data : JSON.stringify(post_data),
			success : function(result){
				console.log(result)
				$("#msg").text(result)
			},
			error : function(error){
				console.log(`Error ${error}`)
			}
		})
	})
})
</script>


